.slideContainer {
  display: flex;
  justify-content: center;
}

.slideContainer.slide-transition {
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 calc(100% / 3);
  padding: 10px;
  box-sizing: border-box;
}


