.carousel-wrapper {
  width: 850px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 37px 2px #e0ebf1;
  /* box-shadow: 0 0 50px 15px #48abe0; */
  border-radius: 20px;
}

.carousel-container {
  margin: 0 auto;
  width: 660px; /* Adjust the width to accommodate three slides */
  height: 300px; /* Set a fixed height */
  overflow: hidden;
  display: flex;
  position: relative;
}

.carousel-item {
  transition: transform 1.5s ease-in-out; /*cubic-bezier(0.58, 0.12, 0.7, 1.1);*/
  /*
  this one is cool*/
  /* transition: transform 1.5s cubic-bezier(1, -0.36, 0.02, 0.8); */

  width: 33.33%; /* Adjust the width */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.carousel-item img {
  border-radius: 10px;
}

.prev-button,
.next-button {
  z-index: 10;
}

.prev-button {
  position: absolute;
  left: 0;
}

.next-button {
  position: absolute;
  right: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
button:hover {
  border-color: #ababac;
}
button:active {
  transform: scale(0.95);
  transition: transform 0.1s;
  background-color: #000000;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (max-width: 900px) {
  .carousel-wrapper {
    display: none;
  }
}
